*{
    margin: 0%;
    padding: 0%;
}

.container1{
    width: 100%;
    height: 10vh;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container2{
    width: 100%;
    height: 70vh;
    background-color: rgb(255, 21, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}


.con{
    width: 60vh;
    height: 60vh;
    background-color: bisque;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    border: 2px solid black;
}


.con div{
  font-size: 60px;
  display: flex;
  justify-content: center;
  border: 2px solid red;
  align-items: center;
}


.container3{
    width: 100%;
    height: 10vh;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.container4{
    width: 100%;
    height: 10vh;
    background-color: rgb(115, 255, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

.button{
   padding: 10px; 
   font-size: 20px;    
   border-radius: 20px;
}

