*{
  padding: 0%;
  margin: 0%;
}


body{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  
}

.container{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(194, 125, 125);
}

.img img{
   width: 300px;
   height: 300px;
   padding: 10px;
}


.info{
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  color: rgb(14, 14, 14);
  background-color: rgb(194, 125, 125);
 
}

h2{
  padding: 10px;
  font-size: 25px;
}

p{
  padding: 10px;
  font-size: 15px;
}

.info h4{
  padding: 10px;
  font-size: 20px;
  margin-top: 10px;
}


.info h5{
  padding: 10px;
  font-size: 15px;
  margin-top: 10px;
}


.btn{
  width: 100%;
  margin-top: 10px;
  border-radius:  20px; ;
  padding: 10px;
  font-size: 20px;
}



.about{
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: rgb(14, 14, 14);
  background-color: rgb(194, 125, 125);
}

.contact{
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: rgb(14, 14, 14);
  background-color: rgb(194, 125, 125);
}


.footer{
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(194, 125, 125);
}


.footer img{
  width: 50px;
  height: 50px;
  padding: 10px;

}